<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="container mt-4">
			<div class="card text-light bg-dark">
				<div class="card-body">
					<h2 class="fw-bold">The page you requested does not exist</h2>
				</div>
			</div>
		</div>
	</body>
</html>
