<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>

	<body>
		<%- include('./partials/nav.ejs') %>
		<div class="container mt-4">
			<div class="card text-light bg-dark">
				<div class="card-body">
					<h2>About</h2>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, nam
						ut? Pariatur voluptatum iure dolorem explicabo quibusdam iste odit
						vel, vitae praesentium maiores illo dolorum culpa, sint voluptatibus
						esse a.
					</p>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, nam
						ut? Pariatur voluptatum iure dolorem explicabo quibusdam iste odit
						vel, vitae praesentium maiores illo dolorum culpa, sint voluptatibus
						esse a.
					</p>
					<p>
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, nam
						ut? Pariatur voluptatum iure dolorem explicabo quibusdam iste odit
						vel, vitae praesentium maiores illo dolorum culpa, sint voluptatibus
						esse a.
					</p>
				</div>
			</div>
		</div>
	</body>
</html>
